<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sspu_consultor.ConsultorProvider.com.sspu_consultor.brief_provider.dao.Service_historyMapper">
    <insert id="insertService_historyNeoHistory">
        insert into service_history values(#{his_id},#{user_id},#{type},#{time});
    </insert>
</mapper>